
.cont 
{
    background-color: #dddddd;
    padding: 10px ;
    width: 500px;
    margin: 15px auto ;
    border-radius: 50px;
    border : 2px solid #666 ;
    text-align: center;
    
}


img
{
    height: 300px;
    border: 2px solid #666;
    border-radius: 25px;
}

span
{
    font-weight: bold;

}

ul 
{
    list-style: none;
    padding-inline-start: 0px;
}

.links li
{
    display: inline;
    padding: 0px 5px ;
}